body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e5dfcb;
}

.content-container {
  margin: auto;
  padding: 32px;
  background-color: #e5dfcb;
  border-radius: 0.5rem;
}

h1.title {
  text-align: center;
  color: rgb(154, 200, 215);
}

h2.subtitle {
  text-align: center;
  color: lightcoral;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.house-header {
  text-align: center;
}

.house2 {
  display: flex;
  align-items: center;
  background-color: pink;
  padding: 20px;
}

.house-image {
  margin-right: 20px;
}

.house-details {
  display: flex;
  flex-direction: column;
}

.floor-plans {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.floor-plan {
  flex: 1;
  padding: 10px;
}

.floor-plan h3 {
  text-align: center;
  margin-bottom: 10px;
}

.floor-plan img {
  width: 100%;
  height: auto;
  display: block;
}
